.header{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: $light-color;
    position: relative;
    z-index: 99;

    &.sticky-nav{
        position: fixed;
        width: 100%;
        left: 0;
        top: 0;

        .header{
            background: #fff;
        }
    }
}
.nav-item.dropdown:hover .dropdown-menu{
    display: block;
}
nav.navbar .dropdown-menu{
    top: 98%!important;
}
.dropdown-menu{
    padding: 0;
}
.dropdown-item{
    padding: 5px 12px;
    font-size: 14px;
}
nav.navbar {
    padding:0;
    .navbar-collapse {
        flex-flow: column;
        align-items: flex-end;
    }
    .navbar-brand {
        padding: 0;
        margin-right: 2rem;
    }
  .nav-item {
        padding:0;
        &:first-child{padding-left: 0;}
        &:last-child{padding-right: 0;}
        &.active {
            .nav-link {
              background-color: $main-color;
              color:$light-color;
           }
       }
        .nav-link {
            color: $black;
            padding: 15px 15px;
            vertical-align: middle;
            height: 100%;
            position: relative;

            overflow: hidden;
            font-weight:700;

            &:hover, &.active {
              background-color: $main-color;
              color:$light-color;

          }
              font-size: 14px;
        }
    }
    .dropdown-item.active, .dropdown-item:active {
        background-color: $main-color;
    }

    .dropdown-menu {
        top: 100%; 
        border-radius: 0;
    }
    .dropdown-toggle::after {
        content: "\f078";
        font-family: "Font Awesome 5 Pro";
        font-weight: 400;
        border: 0;
        font-size: 11px;
        top: 1px;
        position: relative;
    }
}
.country-dd{
    margin-left: 10px;
    position: relative;
    &:before{
        content:"";
        width: 7px;
        height: 5px;
        background-image: url("../media/images/dd-arrow.png");
        background-repeat: no-repeat;
        position: absolute;
        top: 11px;
        right:14px;
    }
    button{
        border:0;
        padding: 0;
        background-color: $main-color;
        padding-right: 30px;
        color: $light-color;
        padding-left: 15px;
        padding-top: 6px;
        padding-bottom: 6px;
        &:hover{
            background-color: $second-color;
        }

    }



    .country-dd-menu{
        background-color:$main-color;
        position: absolute;
        padding: 15px;
        z-index: 10;
        right: 0;
        top:40px;
        opacity: 0;
        visibility: hidden;
        transition: ease all 0.5s;
        min-width:120px;
        &:before{
            content:'';
            position: absolute;
            border-bottom:10px solid $main-color;
            border-left:10px solid transparent;
            border-right:10px solid transparent;
            right:15px;
            top:-9px;
        }
        ul{
            list-style: none;
            padding: 0;
            margin: 0;
            li{
                button{
                    display: flex;
                    color:$light-color;
                    span{
                        display: inline-block;
                        margin-right: 10px;
                    }
                }
            }
        }
    }
    &:hover{
        .country-dd-menu{
            opacity: 1;
            visibility: visible;
            top:100%;
        }
        &:before{
           transform: rotate(-180deg);
        }
    }
}
nav.navbar .nav-item ul li{
    position: relative;
    &:hover{
        .dropdown-menu.submenu{
            display: block!important;
            
        }
    }
    
    .down{
        position: absolute;
        width: 30px;
        height: 100%;
        top: 0;
        right: 0;
        &:after{
            content: "\f078";
            font-family: "Font Awesome 5 Pro";
            font-weight: 400;
            border: 0;
            font-size: 11px;
            top: 8px;
            right: 8px;
            position: absolute;
            transform: rotate(-90deg);
        }
    }
}
nav.navbar .dropdown-menu.submenu{
    top: 0!important;
    left: 100%;
    display: none!important;
}