/*-----------------------------------------------------------------------------------------------------------------------------
     _                _  _     _                                      _      _                                       _    _
    | |              ( )| |   | |                                    | |    | |                                     | |  | |
  __| |  ___   _ __  |/ | |_  | |__    ___    __ _   ___    ___    __| |    | |__    ___    __ _  _ __   ___   __ _ | |_ | |
 / _` | / _ \ | '_ \    | __| | '_ \  / _ \  / _` | / _ \  / _ \  / _` |    | '_ \  / _ \  / _` || '__| / _ \ / _` || __|| |
| (_| || (_) || | | |   | |_  | |_) ||  __/ | (_| || (_) || (_) || (_| | _  | |_) ||  __/ | (_| || |   |  __/| (_| || |_ |_|
 \__,_| \___/ |_| |_|    \__| |_.__/  \___|  \__, | \___/  \___/  \__,_|( ) |_.__/  \___|  \__, ||_|    \___| \__,_| \__|(_)
                                              __/ |                     |/                  __/ |
                                             |___/                                         |___/
ksp----------------------------------------------------------------------------------------------------------------------------
*/

//========================================//
// Variables //
//========================================//
$main-color: #28378C !default;
$text-color: #1d1d1b !default;
$black: #000000 !default;
$light-color: #ffffff !default;
$second-color:#00A24F;


// Documentation starts here
// --------------------------------------------
// * Global...............Globally-available variables and config.
* {
  
  -webkit-overflow-scrolling: touch;
}

html {
  height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

::-webkit-input-placeholder,
input::-webkit-input-placeholder {
  // color: $text !important;
}

::-moz-placeholder,
input::-webkit-input-placeholder {
  // color: $text !important;
}

:-ms-input-placeholder,
input:-ms-input-placeholder {
  // color: $text !important;
}

:-moz-placeholder,
input:-moz-placeholder {
  // color: $text !important;
}

/* Let's get this party started */

::-webkit-scrollbar {
  width: 8px;
}

/* Track */

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

/* Handle */

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  // background-color: $text-color;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);

  &:window-inactive {
    // background-color: $text-color;
  }
}
main{
  position: relative;
  z-index: 0;

}
.page-wrapper{
  overflow-x: hidden;
}
body.body {
  font-family: 'Nunito';
  font-weight: 400;
  min-height: 100%;
  color: $black;
  line-height: 1.2;
  font-size: 14px;
  background-color: #F4F1F2;
  

  h1 {
    font-family: 'Abhaya Libre';
    font-weight: 600;
  }
  h2 {
    font-size: 45px;
    color:$main-color;
    font-weight: 600;

  }

  h3{
    font-size: 27.71px;
  }

  h4{
    font-size: 20.65px;
    font-weight: 700;
  }

  h5{
    font-size: 18.04px;
    font-weight: 700;
  }
  h6{

  }

  a {
    transition: all 0.3s linear;
    text-decoration: none;
    
  }


  .container-fluid {
    padding: 0 5em;
  }
}

main {
  position: relative;
  flex: 1 0 auto;
}

.padR-0 {
  padding-right: 0;
}
.padL-0 {
  padding-left: 0;
}
.pad-0 {
  padding: 0;
}
.pad-15 {
  padding: 15px;
}
.pd-50 {
  padding: 50px 0;
}
.second-color{
  color:$second-color;
}
.main-color{
  color:$main-color;
}

// * Global...............Globally-available Reusable LAYOUTS.
.page-wrapper {
  // flex: 1 1 auto;
  // display: flex;
  // flex-direction: column;
  // flex-wrap: nowrap;
  // min-height: 100vh;
  // width: 100%;
  // overflow: hidden;
}
.main {
  // z-index: 2;
  position: relative;
}

//* Start Footer *//

// Let the site building begin
// --------------------------------------------

@import "mixin-variables";
@import "plugins";
@import "pages/fonts";
@import "pages/header";
@import "pages/home";
@import "pages/inner-pages";
@import "pages/responsive";
